In [79]:
# showing all databases in server

import mysql.connector as connection

try:

    conn = connection.connect(host = "localhost", user = "root", passwd = "Mysql@123", database = 'MyFirstDatabase')    #creating a connection

    query = "SELECT * FROM MyFirstTable"

    cur = conn.cursor()                                                                   #creating a cursor

    cur.execute(query)                                                                    #executing the query

    result = cur.fetchall()                                                               #fetching all data

    print(result)
    
    conn.close()
    
except Exception as ex:
    
    conn.close()
    
    print(ex)

[(1, 'Prabha', 22), (1, 'Prabha', 22), (2, 'Hema', 20), (3, 'Anwar', 29)]

In [60]:
#creating a new database

import mysql.connector as connection

try:

    conn = connection.connect(host = "localhost", user = "root", passwd = "Mysql@123")    #creating a connection

    query = "CREATE DATABASE MyFirstDatabase;" 

    cur = conn.cursor()                                                                   #creating a cursor

    cur.execute(query)                                                                    #executing the query
    
    print("Database created successfully")
    
    conn.close()
    
except Exception as ex:
    
    conn.close()
    
    print(ex)

1007 (HY000): Can't create database 'myfirstdatabase'; database exists

In [56]:
#creating a new database

import mysql.connector as connection

try:

    conn = connection.connect(host = "localhost", user = "root", passwd = "Mysql@123", database = 'MyFirstDatabase')    #creating a connection

    query = "CREATE TABLE MyFirstTable(ID INT(10),NAME VARCHAR(20), AGE INT(20));" 

    cur = conn.cursor()                                                                   #creating a cursor

    cur.execute(query)                                                                    #executing the query
    
    print("Table created successfully")
    
    conn.close()
    
except Exception as ex:
    
    conn.close()
    
    print(ex)

1050 (42S01): Table 'myfirsttable' already exists

In [83]:
# showing all databases in server

import mysql.connector as connection

try:

    conn = connection.connect(host = "localhost", user = "root", passwd = "Mysql@123", database = "MyFirstDatabase")    #creating a connection

    query = "INSERT INTO MyFirstTable VALUES('4','Joseph','29')"

    cur = conn.cursor()                                                                   #creating a cursor

    cur.execute(query)                                                                    #executing the query

    conn.commit()                                                                          #commiting all data

    print("data written successfully in myfirsttable table")
    
    
except Exception as ex:
    
    conn.close()
    
    print(ex)

data written successfully in myfirsttable table

In [92]:
import pandas as pd

pd.read_sql("select * from MyFirstDatabase.MyFirstTable",conn)

C:\Users\Preetha K\AppData\Local\Temp\ipykernel_3248\1563612114.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("select * from MyFirstDatabase.MyFirstTable",conn)

   ID    NAME  AGE
0   1  Prabha   22
1   1  Prabha   22
2   2    Hema   20
3   3   Anwar   29
4   4  Joseph   29